header {
  margin-bottom: 84px;
}
header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(20px, 30vw, 512px);
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrapper .title-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}
header .header-wrapper .title-part p:first-child {
  background-color: #458FF6;
  color: white;
  padding: 10px 18px;
  border-radius: 50%;
}
header .header-wrapper .title-part h1 {
  font-weight: 600;
}
header .header-wrapper .nav-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 40px;
  text-wrap: nowrap;
  opacity: 50%;
  font-size: 1.125rem;
}

.intro-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 104px;
  padding: 20px;
}
.intro-container .intro-summary {
  margin-top: 120px;
  padding: 20px;
}
.intro-container .intro-summary h2 {
  font-size: 2.25rem;
  margin-bottom: 25px;
}
.intro-container .intro-summary .description {
  margin-bottom: 48px;
  opacity: 50%;
  font-size: 1.313;
  line-height: 32px;
}
.intro-container .intro-summary .cta-consult {
  background-color: #458FF6;
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}